<header>
	<section class="portal-header">
		<div class="header-wrapper">			
			<article id="portal-logo">
				<a href="/" id="kitodo-logo">
					<img src="../../typo3conf/ext/kitodo_presentation_template/Resources/Public/Images/Logo_SI_3c_quer.gif" alt="si-logo">
				</a>
				<span id="portal-heading">Digitalisierungszentrum</span>
			</article>
		</div>
	</section>

	<section class="portal-main-search">
		<div class="header-wrapper">

			<v:content.render column="0" />

			<v:page.breadCrumb class="breadcrumb" tagName="article" tagNameChildren="span" linkCurrent="false"/>
		</div>
	</section>

</header>	